@import './colors';

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

[id] {
	scroll-margin-top: 84px;
}

@media (min-width: 992px) {
	[id] {
		scroll-margin-top: 69px;
	}
}

.section-heading {
	color: $main-color;
}

// nawigacja

nav {
	.navbar-brand {
		font-size: 2.2rem;
		text-transform: uppercase;
		i {
			padding-right: 5px;
			color: $main-color;
		}
	}
	.nav-link,
	.navbar-toggler-icon {
		font-size: 1.8rem;
		text-transform: uppercase;
	}
	.navbar-toggler {
		padding: 1em 2em;
	}
}

// sekcja powitalna

.home {
	position: relative;
	height: 60rem;
	background-image: url('../img/buildings-1850129_1920.jpg');
	background-position: center;
	background-size: cover;
	z-index: 0;
	.hero-shadow {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}
.btn {
	padding: 1em 2em;
	font-size: 1.4rem;
	text-transform: uppercase;
}
.welcome-text {
	font-size: 2.2rem;
}

// sekcja o nas

.aboutus-box {
	h3 {
		font-size: 2.4rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	.aboutus-icon {
		font-size: 4rem;
	}
}

.accordion-item {
	.accordion-button {
		padding: 1em;
		font-size: 1.8rem;
	}
	.accordion-button:not(.collapsed) {
		background-color: rgb(248, 248, 248);
		color: $main-color;
	}
}

// sekcja team

.team {
	.card-img-top {
		height: 300px;
		object-fit: cover;
	}
	.card-title {
		font-size: 2rem;
	}
}

// sekcja kontakt

.contact {
	h3 {
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	.submit-btn {
		font-size: 1.6rem;
		text-transform: capitalize;
	}
	.contact-info {
		.orange-color {
			color: $main-color;
		}
	}
}
